{% extends 'layout.html' %}
{%block body%}
<div class="jumbotron text-center">
    <h1>Sobre nós</h1>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Detraxit consequat et quo num tendi nada. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.</p>
</div>
{%endblock%}