{% extends 'layout.html' %} {% block body %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#atual">Consulta atual</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="atual">
    <form action="/save_appointement" method="post">
      <fieldset>
        <div class="form-group">
          <fieldset disabled="">
            <label class="control-label" for="disabledInput">Paciente</label>
            <input class="form-control" id="paciente_disabled_field" type="text" placeholder="{{context["patient"].name}}" disabled="">
          </fieldset>
        </div>
        <div class="form-group">
          <fieldset disabled="">
            <label class="control-label" for="disabledInput">Médico</label>
            <input class="form-control" id="medico_disabled_field" type="text" placeholder="{{session.username}}" disabled="">
          </fieldset>
        </div>
        <div class="form-group">
          <fieldset disabled="">
            <label class="control-label" for="disabledInput">Data e hora</label>
            <input class="form-control" id="consulta_data" type="datetime" placeholder="{{context["schedule"].date}}" disabled="">
          </fieldset>
        </div>
        <div class="form-group">
          <label for="exampleTextarea">Sintomas</label>
          <textarea class="form-control" id="sintomas_textarea" name="symptoms" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleTextarea">Remédios</label>
            <textarea class="form-control" id="sintomas_textarea" name="medicines" rows="4"></textarea>
        </div>
        <div class="form-group">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Exame</th>
                    </tr>
                </thead>
                <tbody>
                {% for exam in context["exams"] %}
                    <tr class="table-dark">
                        <td> <input id="by_specialty" value={{exam.id}} name={{exam.id}} type="checkbox"></td>
                        <td>{{ exam.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <input type="hidden" name="schedule" value="{{context["schedule"].id}}">
        </div>
        <button type="submit" class="btn btn-primary">Finalizar consulta</button>
      </fieldset>
    </form>
  </div>
  {% endblock %}