{% extends 'layout.html' %} {% block body %}

<style>
.container {
  width: 70%;
}
</style>

{% if session.logged_in == True %}

<div class="container">
    <form method="post">
        <fieldset>
        <div class="form-group">
            <legend>Selecione um Médico</legend>  
            <fieldset>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Médico</th> 
                    <th scope="col">CPF</th>
                    <th scope="col">Especialidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doctor in context %}
                        <tr class="table-dark">
                            <td> <input value={{context[doctor].cpf}} name='doctor_cpf' type="radio"></td>
                            <td>{{ context[doctor].name }}</td>
                            <td>{{ context[doctor].cpf }}</td>
                            <td>{{ context[doctor].specialty }}</td>                            
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
            <br>
                <div class="form-group">
                    <label class="contrl-label">Nome do Paciente</label>
                    <input type="text" name="patient_name" id="">
                </div>
                <div class="form-group">
                    <label class="contrl-label">Idade do Paciente</label>
                    <input type="number" name="patient_age" id="">                    
                </div>
                <div class="form-group">
                    <label class="contrl-label">CPF do Paciente</label>
                    <input type="text" name="patient_cpf" id="">
                </div>
                <div class="form-group">
                    <label class="custom-control custom-radio">
                        <input id="by_doctor" name="radio" type="radio" class="custom-control-input" checked="" value="radio8_9">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">8h às 9h</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="by_specialty" name="radio" type="radio" class="custom-control-input" value="radio9_10">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">9h às 10h</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="by_specialty" name="radio" type="radio" class="custom-control-input" value="radio10_11">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">10h às 11h</span>
                    </label>
                    <p>Data</p>
                    <input class="form-control form-control-sm" name="patient_date" type="date" placeholder="DD/MM/AAAA" id="inputSmall" value={{request.form.date}}>
            <br>
            <button type="submit" class="btn btn-primary">Agendar</button>
            </fieldset>
        </div>
        </fieldset>
    </form>
</div>

{% endif %} {% endblock %}