{% extends 'layout.html' %} {% block body %}
<h2>
  Bem vindo, {{session.username}}
</h2>

<style>
  .container {
    width: 60%;
  }
</style>

{% if session.logged_in == True %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#appointments">Agendamentos</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="appointments">
    <div class="container">
      <fieldset>
        <legend>Agendamentos</legend>
        <form action="/doctor_logged", method="post">
          <div class="form-group">
            <label class="custom-control custom-radio">
              <input id="by_doctor" name="radio" type="radio" class="custom-control-input" checked="" value="radio8_9">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">8h às 9h</span>
            </label>
            <label class="custom-control custom-radio">
              <input id="by_specialty" name="radio" type="radio" class="custom-control-input" value="radio9_10">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">9h às 10h</span>
            </label>
            <label class="custom-control custom-radio">
              <input id="by_specialty" name="radio" type="radio" class="custom-control-input" value="radio10_11">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">10h às 11h</span>
            </label>
            <p>Data</p>
            <!-- <div class="form-group"> -->
              <input class="form-control form-control-sm" name="date" type="date" placeholder="DD/MM/AAAA" id="inputSmall" value={{request.form.date}}>
            <!-- </div> -->
            <br>
            <button type="submit" class="btn btn-primary" id="search_patients">Buscar</button>
          </div>
        </form>
    </div>
    </fieldset>
  </div>
  <div class="container">
    <form action="/init_appointment" method="post">
        <fieldset>
          <div class="form-group">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Paciemte</th>
                    <th scope="col">Prioridade</th>
                    </tr>
                </thead>
                <tbody>
                {% for patient in patient_list %}
                  <tr class="table-dark">
                    {% if date %}
                        <td> <input id="by_specialty" value={{patient[2]}} name='radio' type="radio"></td>
                        <td>{{ patient[0].name }}</td>
                        <td>{{patient[1]}}</td>
                        <!-- <input type="hidden" name={{patient[1]}} value={{patient[1]}}> -->
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
          <input type="hidden" name="current_date" value={{schedule_date}}>
          <input type="hidden" name='flag' value="new-appointment-request">
          <button type="submit" class="btn btn-primary">Iniciar Consulta</button>
        </fieldset>
    </form>
</div>
</div>
{% endif %} {% endblock %}