{% extends 'layout.html' %} {% block body %}


<style>
.container {
  width: 70%;
}
</style>

{% if session.logged_in == True %}

<div class="container">
    <h2>
      Consultas
    </h2>
  <fieldset>
      <br>
      <table class="table table-hover">
          <thead>
              <tr>
              <th scope="col">Médico</th>              
              <th scope="col">Paciente</th>
              <th scope="col">CPF</th>
              <th scope="col">Data</th>
              </tr>
          </thead>
          <tbody>
          {% for patient in patients %}
              <tr class="table-dark">
              {% for item in patients[patient] %}
                  <td>{{ item }}</td>
              {% endfor %}
          {% endfor %}
              </tr>
          </tbody>
      </table>
  </fieldset>
</div>


{% endif %} {% endblock %}