 {% extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">
  <h1 class="display-3">Jumanji</h1>
  <p class="lead">Bem vindo ao sistema Jumanji</p>
  {% if session.logged_in == NULL %}
  <div class="btn-group-vertical">
    <a href="/login" class="btn btn-success btn-lg">Login</a>
    <a href="/register" class="btn btn-primary btn-lg">Registrar</a>
  </div>
  {% endif %}
</div>
{% endblock %}
