<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Jumanji</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </head>

</head>

<body>
    {% include 'includes/_navbar.html' %} 
    {% if session.logged_in == True %}
    <script>
        var li = document.querySelector("#register")
        var new_li = li
        new_li.childNodes[1].text = "Logout"
        new_li.childNodes[1].href = "/logout"
        const ul = document.querySelector("#button_list")
        ul.appendChild(new_li)
    </script> 
    {% endif %}
    <div class="container">
        <br>
        <br> {% include 'includes/_messages.html' %} {% block body %}{% endblock %}
    </div>
</body>

</html>