{% extends 'layout.html' %} {% block body %}
<style>
.container { 
  width: 50%;
}
</style>
<div class="container">
    <h1>Login</h1>
    <form action="" method="POST">
      <div class="form-group">
        <label>Usuário</label>
        <input type="text" name="username" class="form-control" value={{request.form.username}}>
      </div>
      <div class="form-group">
        <label>Senha</label>
        <input type="password" name="password" class="form-control" value={{request.form.password}}>
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>

{% endblock %}