{% extends 'layout.html' %} {% block body %}
<style>
  .container {
    width: 60%;
  }
</style>

<div class="container">
  <h1>Registrar Agendamento</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      
    </div>
    <div class="form-group">
        {{render_field(form.name, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.username, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.password, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.confirm, class_="form-control")}}
    </div>
    <p>
      <input type="submit" class="btn btn-primary" value="Registrar">
    </p>
  </form>
</div>

{% endblock %}