
{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Jumanji Registro</h1>
    <p class="lead">Deseja cadastrar?</p>
    {% if session.logged_in == NULL %}
      <a href="/register/doctor" class="btn btn-primary btn-lg">Médico</a>
      <a href="/register/secretary" class="btn btn-danger btn-lg">Secretária</a>
    {% endif %}
  </div>
{% endblock %}