{% extends 'layout.html' %} {% block body %}

<h2>
  Bem vindo, {{session.username}}
</h2>

<style>
  .container {
    width: 70%;
  }
</style>

{% if session.logged_in == True %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" id="sch" href="#schedules">Agendamentos</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#patients">Pacientes</a>
    </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#doctors">Médicos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#appointments">Consultas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#patient-reports">Relatório de consulta</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Alterações</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#mod_patient">Alterar paciente</a>
      <a class="dropdown-item" href="#mod_doctor">Alterar médico</a>
    </div>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="schedules">
    <div class="container">
      <fieldset>
        <br>
        <a href="/new_schedule" class="btn btn-primary btn-lg">Agendar Consulta</a>
        <br>
        <br>
        <h3>Buscar Agendamentos</h3> 
        <form action="/secretary_logged" method="post">
            <fieldset>
              <div class="form-group">
                <label for="scheduleDate">Data</label>
                <input class="form-control" id="dateInput" name="date" type="date">
              </div>
              <input type="hidden" name='flag' value="schedule-query">
              <button type="submit" class="btn btn-primary">Buscar</button>
            </fieldset>
        </form>
        <br>
        <form action="/secretary_logged" method="post">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Scretária</th>
                    <th scope="col">Médico</th>
                    <th scope="col">Paciente</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Prioridade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for schedule in schedules %}
                        <tr class="table-dark">
                            <td> <input type="checkbox" value="{{schedules[schedule][5]}}" name="{{schedules[schedule][5]}}"> </td>
                            <td>{{ schedules[schedule][0] }}</td>
                            <td>{{ schedules[schedule][1] }}</td>
                            <td>{{ schedules[schedule][2] }}</td>
                            <td>{{ schedules[schedule][3] }}</td>
                            <td>{{ schedules[schedule][4] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name='flag' value="remove-schedule-query">
            <button type="submit" class="btn btn-primary">Remover</button>
        </form>
        <br>
      </fieldset>
    </div>
  </div>

  <div class="tab-pane fade" id="patients">
    <div class="container">
      <fieldset>
        <br>
        <form action="/secretary_logged" method="post">
            <fieldset>
                <div class="form-group">
                  <label class="custom-control custom-radio">
                    <input id="by_doctor" value="all" name="radio" type="radio" class="custom-control-input" checked="">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Todos</span>
                  </label>

                  <label class="custom-control custom-radio">
                    <input id="by_specialty" value="appointments" name="radio" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Consultados</span>
                  </label>

                  <label class="custom-control custom-radio">
                    <input id="by_specialty" value="schedules" name="radio" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Não consultados</span>
                  </label>
                </div>
                <input type="hidden" name='flag' value="patient-query">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </fieldset>
        </form>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Paciente</th>
                <th scope="col">CPF</th>
                </tr>
            </thead>
            <tbody>
            {% for patient in patients %}
                <tr class="table-dark">
                {% for item in patients[patient] %}
                    <td>{{ item }}</td>
                {% endfor %}
            {% endfor %}
                </tr>
            </tbody>
        </table>
      </fieldset>
    </div>
  </div>

  <div class="tab-pane fade" id="doctors">
    <div class="container">
      <fieldset>
        <br>
        <form action="/secretary_logged" method="post">
            <fieldset>
              <div class="form-group">
                <label for="scheduleDate">Consultas de:</label>
                <input class="form-control" id="dateInput" name="dateInit" type="date">
                <label for="scheduleDate">Até:</label>
                <input class="form-control" id="dateInput" name="dateEnd" type="date">
              </div>
              <input type="hidden" name='flag' value="doctor-date-query">
              <button type="submit" class="btn btn-primary">Buscar</button>
            </fieldset>
        </form>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Médico</th>
                <th scope="col">Especialidade</th>
                <th scope="col">Consultas</th>
                </tr>
            </thead>
            <tbody>
            {% for doctor in doctors %}
                <tr class="table-dark">
                {% for item in doctors[doctor] %}
                    <td>{{ item }}</td>
                {% endfor %}
            {% endfor %}
                </tr>
            </tbody>
        </table>
      </fieldset>
    </div>
  </div>

  <div class="tab-pane fade" id="appointments">
    <div class="container">
      <fieldset>
        <br>
        <form action="/doctor_history" method="post">
            <fieldset>
              <div class="form-group">
                <legend>Selecione os Médicos</legend>
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col"></th>
                        <th scope="col">Médico</th>
                        <th scope="col">Especialidade</th>
                        <th scope="col">CPF</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for doctor in all_doctors %}
                        <tr class="table-dark">
                            <td> <input id="by_specialty" value={{all_doctors[doctor][2]}} name={{loop.index}} type="checkbox"></td>
                            {% for item in all_doctors[doctor] %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    {% endfor %}
                        </tr>
                    </tbody>
                </table>
              </div>
              <div class="form-group">
                <label for="scheduleDate">Consultas de:</label>
                <input class="form-control form-control-sm" placeholder=".form-control-sm" id="dateInput" name="dateInit" type="date">
                <label for="scheduleDate">Até:</label>
                <input class="form-control form-control-sm" placeholder=".form-control-sm" id="dateInput" name="dateEnd" type="date">
              </div>
              <input type="hidden" name='flag' value="appointments-date-query">
              <button type="submit" class="btn btn-primary">Buscar Consultas</button>
            </fieldset>
        </form>
      </fieldset>
    </div>
  </div>

  <div class="tab-pane fade" id="patient-reports">
    <div class="container">
      <fieldset>
          <br>
          <form action="/secretary_logged" method="post">
              <fieldset>
                <div class="form-group">
                    <p>CPF do Paciente</p>
                    <input class="form-control form-control-sm" name="CPF" type="text" placeholder="CPF" id="inputSmall">
                </div>
                <input type="hidden" name='flag' value="report-query">
                <button type="submit" class="btn btn-primary">Gerar Relatório</button>
              </fieldset>
          </form>
          <br>
          <table class="table table-hover">
              <thead>
                  <tr>
                  <th scope="col"></th>
                  <th scope="col">Dados da Consulta</th>
                  </tr>
              </thead>
              <tbody>
              {% for item in report %}
                  <tr class="table-dark">
                    <td>{{ item }}</td>
                    <td>{{ report[item] }}</td>                    
                  </tr>
              {% endfor %}
              </tbody>
          </table>
      </fieldset>
    </div>
  </div>
  <div class="tab-pane fade" id="dropdown1">
    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi
      farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy
      salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
  </div>
  <div class="tab-pane fade" id="dropdown2">
    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free
      squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo
      park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby
      sweater.
    </p>
  </div>
</div>
{% endif %} {% endblock %}